{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ garden.name }}: Create Tier
{% endblock %}

{% block body %}
    {% if invalid %}
        <div class="alert alert-danger" role="alert">
            You must choose a harvest date that in the future!
        </div>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        {{tier_form|crispy}}
        <button type="submit" class="btn btn-primary btn-block">Create Tier</button>
    </form>
{% endblock %}