{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ update.title }}
{% endblock %}

{% block body %}
<h1>{{ update.title }}</h1>
<p>{{ update.text }}</p>
<hr>
<form method="post" action="" style="width: 75%;">
    {% csrf_token %}
    {{comment_form|crispy}}
    <button type="submit" class="btn btn-primary btn-block">Post Comment</button>
</form>

<br>
<h3>Comments</h3>
<br>
{% for comment in comments %}
<div class="comment" style="
        padding: 13px;
        background-color: #F2F3F5;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
        margin-right: 0px;
        width: 75%;
      ">
    <h6>{{comment.author.user.username}}  |  {{comment.date_published}} </h6>
    <p>{{ comment.text }}<p>
</div>
{% endfor %}
{% endblock %}