{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
        {% if invalid %}
            <div class="alert alert-danger" role="alert">
                Listing too large, only {{tier.total_shares_remaining}} shares available for purchase
            </div>
        {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        {{listing_form|crispy}}
        <button type="submit" class="btn btn-primary btn-block">List Shares</button>
    </form>
{% endblock %}